# Entorno de ejecución: 'development' o 'production'
ENVIRONMENT=production

# Configuración del servidor
PORT=8000

# Parámetros de Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_DB=0
REDIS_RATE_LIMIT_DB=1
USE_REDIS=True

# Configuración de URL de la Base de Datos (Opcional)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/apivenezuelaearthquake_db

# Seguridad y Autenticación
API_KEY=secure_apivenezuelaearthquake_key_v1_high_performance
CORS_ORIGINS=http://localhost:3000,http://localhost:4200,http://localhost:5173

# Credenciales de Swagger Docs
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=admin123
